body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

nav a {
    text-decoration: none;
    color: #000408;
    margin: 0 10px;
}
nav a:hover {
    color: white;
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

article {
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    article ul li {
        flex: 1 1 calc(50% - 20px);
        min-width: 300px; 
    }
}

@media (max-width: 600px) {
    article ul li {
        flex: 1 1 100%;
        min-width: unset;
    }
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
} 
.galeria-depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.depoimento {
    flex: 1 1 370px; 
    max-width: 370px;
    
    margin: 20px 0;
    padding-bottom: 15px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 6px; 
    overflow: hidden;
}

.depoimento h3 {
    text-align: center;
    margin: 0;
}

.depoimento img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 6px;
}